{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{%block content%}
<h1>Привет, я Артём - автор этого проекта.</h1>
<p>
  Начиная с апреля 2022г. я начал обучение по курсу Python-dev. от Яндекс-практикума.
  <br />
  Откровенно говоря - даже зимой этого года я даже не думал о том что попаду в сферу IT!
  <br />
  Вернеее думал, но казалось что даже на обучение по IT специальности я буду не способен
  <br />
  <br />
  Но неожиданно для себя я сделал правильный выбор!
  <br />
  Именно поэтому ты сейчас читаешь этот текст)
  <br />
  <br />

  Кстати, глянь на
  <a href="https://github.com/TemaKut/">мой github</a>
</p>
{% endblock %}
