    {% if post_valid.pub_date %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Дата публикации: {{ post_valid.pub_date }}</li>
    {% endif %}
      {% if post_valid.group %}
        <li class="list-group-item">
          Группа: {{ post_valid.group.title }}
          <a href="{% url 'posts:group' post_valid.group.slug %}">Все записи группы</a>
        </li>
      {% endif %}

      <li class="list-group-item">Автор: {{ post_detail.username }}</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:
        <span>{{ post_detail.posts.count }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Автор подписан на:
        <span>{{ post_detail.follower.count }}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        На автора подписано:
        <span>{{ post_detail.following.count }}</span>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile'  post_detail.username %}">Все посты пользователя</a>
      </li>
    </ul>

